# PostgreSQL Database
POSTGRES_USER=indel
POSTGRES_PASSWORD=password # Change this for production or testing with stricter passwords
POSTGRES_DB=indel

# Docker Compose DB Variables
DB_USER=indel
DB_PASSWORD=password # Change this for production or testing with stricter passwords
DB_NAME=indel
